.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 64.125rem;
  height: 38.4375rem;
  border: 1px solid rgba(48, 47, 47, 1);
  border-radius: 2.5rem;
  padding: 2rem;
    color: white;
    gap: 2rem;
    align-self: center;


  .typography {
    font-family: "Gilroy Regular", sans-serif;
    font-size: 4rem;
    text-align: center;

    .accent {
      color: #ff00cc;
    }
  }

  .subtitle {
    font-family: 'Gilroy Regular', sans-serif;
    font-size: 1rem;
  }
}

