.mainContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
  position: absolute;
}

.orbContainer {
  width: 100%;
  height: 100%;
  z-index: 1;
}