
.tipContainer {
    border: .0625rem solid rgba(255, 0, 204, 0.3);
    border-radius: 1.125rem;
    padding: .5rem 1rem;

    .tipText {
        font-family: 'Gilroy Regular', sans-serif;
        font-size: 1rem;
        text-align: center;
        color: white;
    }
}