

.title {
    font-family: "Magison", sans-serif;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 5rem;
    color: white;

    .accent {
        color: #ff00cc;
    }
}

