.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
    width: 100%;
    color: white;
    background-color: black;
    width: 60rem;
    height: 5rem;
    border-radius: 2.5rem;
    border: 1px solid rgba(153,153,153,0.18 );
    font-family: 'Gilroy Regular', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    z-index: 100;

    .accent {
        color: #ff00cc;
    }


    .buttonRow {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}