.subtitle {
    text-align: center;
    font: Gilroy, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: white;
    margin-top: 1rem;
    max-width: 40rem;
    line-height: 2rem;
    font-family: 'Gilroy Regular', sans-serif;


    .accent {
        color: #ff00cc;
    }
}