.infoBox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1.5rem;
  background-color: rgba(69, 227, 255, 0.1);
  font-family: "Gilroy Regular", sans-serif;
  color: rgba(69, 227, 255, 1);
  font-size: 1.25rem;
  border-radius: .375rem;
}
