@font-face {
  font-family: "Magison";
  font-style: normal;
  src: local("Magison"), url("assets/fonts/Magison.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy Regular";
  font-style: normal;
  src: local("Gilroy Regular"), url("assets/fonts/Gilroy-Regular.ttf") format("truetype");
}


.app {
  width: 100vw;
  background-color: black;
}

.bg-shape-left {
  position: absolute;
  z-index: 1;
  top: 30;
  left: 0;
}

.bg-shape-right {
  position: absolute;
  z-index: 1;
  top: 30;
  right: 0;
}
